#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if role["name"] == "Provider Router" %}
{% include "/ios/platform_templates/provider_router.j2" %}
{% elif role["name"] == "Provider Edge Router" %}
{% include "/ios/platform_templates/provider_edge_router.j2" %}
{% elif role["name"] == "Customer Edge Router" %}
{% include "/ios/platform_templates/customer_edge_router.j2" %}
{% elif role["name"] == "Provider Route Reflector" %}
{% include "/ios/platform_templates/provider_route_reflector.j2" %}
{% endif %}