#jinja2: lstrip_blocks: True, trim_blocks: True
---
bgp:
{% for rires in routing_instance_result.results if rires.changed == true %}
  {% set instance_id = rires['routing-instances']['id'] %}
  {% set item = rires['item'][0] %}
  {# Only include devices with bgp_peers defined and non-empty #}
  {% if item.bgp is defined and item.bgp.bgp_peers is defined and item.bgp.bgp_peers | length > 0 %}
  - device: {{ item.name }}
    id: {{ instance_id }}
    afi_safi:
    {% if item.bgp is defined and item.bgp.afi_safi is defined %}
      {% for afi in item.bgp.afi_safi %}
      - afi: {{ afi.afi_safi }}
        {% if afi.extra_attributes is defined and afi.extra_attributes %}
        extra_attributes:
{{ afi.extra_attributes | to_nice_yaml(indent=10) | indent(10, true) }}
        {% endif %}
      {% endfor %}
    {% endif %}
    bgp_peers:
    {% if item.bgp is defined and item.bgp.bgp_peers is defined %}
      {% for peer in item.bgp.bgp_peers %}
      - peer_address: {{ peer.peer_address }}
        peer_asn: {{ peer.peer_asn }}
        description: {{ peer.description | default('') }}
        {% if "." in peer.peer_address %}
        afi: ipv4_unicast
        {% elif ":" in peer.peer_address %}
        afi: ipv6_unicast
        {% endif %}
        in_route_map: {{ peer.in_route_map | default('') }}
        out_route_map: {{ peer.out_route_map | default('') }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}